#photos {
    height: 100vh;
    position: relative;
    z-index: 2;
    transition: transform 500ms ease;
    background-color: black;
  
    /*forces padding inside*/
    box-sizing: border-box; 
    padding: 20px;
  
    /* overflow-y: scroll; */
}

#inner {
    height: 100%;
    overflow-y: scroll;

    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
  
#app[data-nav="true"] > #photos {
    transform: translateY(-50%);
}
  
#inner::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
#inner {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#load_more {
    position: fixed;
    bottom: 0;
    color: white;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-aspect-ratio: 4/5) {
    #inner {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-aspect-ratio: 2/5) {
    #inner {
        grid-template-columns: repeat(1, 1fr);
    }
}