.topic {
    text-decoration: none;
}

.topic > .topic_title {
    position: absolute;
    margin-top: 12px;
    color: white;
    font-size: 1.25rem;
    text-transform: uppercase;
    background: linear-gradient(to bottom right,rgb(0 0 0 / 59%),transparent);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 4px;
    border-top-left-radius: 8px;
}

.topic > .topic_photo_count {
    position: absolute;
    margin-left: 5px;
    margin-bottom: 10px;
    bottom: 0px;
    color: white;
    font-size: 0.9rem;
    background-color: rgba(0,0,0, 0.7);
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 10px;
    text-align: center;
}

.topic > .topic_cover_photo {
    width: max(20vw, 400px);
    aspect-ratio: 1.8 / 1;
    border-radius: 0.5rem;
    margin-top: 0.75rem;
    object-fit: cover;
  }