#app {
  height: 100vh;
  background-color: black;
}

/* Photo view */
#photos {
  height: 100vh;
  position: relative;
  z-index: 2;
  transition: transform 500ms ease;
  background-color: black;

  display: grid; 
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  /*forces padding inside*/
  box-sizing: border-box; 
  padding: 20px;

  overflow-y: scroll;
}

#app[data-nav="true"] > #photos {
  transform: translateY(-50%);
}

#photos::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#photos {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Topic navigator */
#app > nav {
  height: 50vh;
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 1;
  overflow: hidden;
}

#topics {  
  display: flex;
  gap: clamp(1rem, 2vw, 2rem);
  margin-top: clamp(2rem, 2vw, 3rem);
  padding: 0rem clamp(1rem, 2vw, 2rem);
  transform: translateY(70%) scale(0.9);
  transition: transform 500ms cubic-bezier(.13,.53,.38,.97); 

  overflow-x: scroll
}

#topics::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#topics {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#app[data-nav="true"] > nav > #topics {
  transform: translateY(0%) scale(1);
}

.selector {
  /* user-drag: none; */
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* Navigation toggle button */
#nav_toggle {
  height: 3rem;
  width: 3rem; /* Width should be definied by text */
  position: fixed;
  z-index: 3;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(182, 142, 113);
  border: none;
  outline: none;
  border-radius: 3rem;
  cursor: pointer;

  transition: transform, background-color;
  transition-timing-function: ease;
  transition-duration: 400ms;

  box-shadow: 10px 10px 25px 1px rgba(0,0,0,0.59);
  -webkit-box-shadow: 10px 10px 25px 1px rgba(0,0,0,0.59);
  -moz-box-shadow: 10px 10px 25px 1px rgba(0,0,0,0.59);
}

#app[data-nav="true"] > #nav_toggle {
  background-color: rgb(85, 130, 149);
}

#nav_toggle:hover {
  transform: translateX(-50%) scale(1.08);
}

#nav_toggle:active {
  transform: translate(-50%) scale(0.92);
}

#nav_toggle>i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  color: rgb(246, 231, 224);
  font-size: 1.75rem;
  opacity: 0;

  transition: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 400ms;
}

#app:not([data-nav="true"]) > #nav_toggle > .open {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

#app[data-nav="true"] > #nav_toggle > .close {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
